@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
  /* color: #fff; */
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100vh;
  background-image: url("/src/assets/images/bg.jpg");
  position: relative;
}

.content-area {
  scrollbar-width: thin;
  scrollbar-color: #504f52 transparent;
}

.content-area::-webkit-scrollbar {
  width: 8px;
}

.content-area::-webkit-scrollbar-track {
  background: transparent;
}

.content-area::-webkit-scrollbar-thumb {
  background: #504f52;
  border-radius: 4px;
}

.content-area::-webkit-scrollbar-thumb:hover {
  background: #6b6a6d;
}

.active {
  background: #ffffff17;
}
